modules = ["nodejs-20", "web", "nix"]
hidden = [".config", "package-lock.json"]
run = "npm run dev"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
