@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
}
.league {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body{
  background-image: url("../assets/water.svg");
  background-size: cover;
  height: 100vh;
}



