@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scroll-behavior: smooth;
}


body{
  background-image: url("../assets/water.svg");
  background-size: cover;
}



